<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Tags</th>
      <th>Author</th>
      <th>Stage</th>
      <th>Last Commit Date</th>
      <th>Show</th>
      <th>Delete</th>
      <th>Publish/Commit</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <%
        @article_cur    = article
        @tags           = article.tags
      %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= render "tags/single_line_tags", :locals => { :tags => @tags } %></td>
        <td><%= article.author %></td>
        <td><%= article.stage %></td>
        <td><%= article.last_commit_date || "No commit yet." %></td>
        <td><%= link_to "Edit", edit_admin_article_path(article), :title => "Edit/Show #{article.title}" %></td>
        <td><%= link_to "Delete", admin_article_path(article), :method => :delete, :title => "Delete #{article.title}", :confirm => "Are you sure?" %></td>
        <td><%= render "admin/articles/commit_publish", :locals => { :article_cur => @article_cur } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
