<table id="articles-console">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Tags</th>
      <th>Author</th>
      <th>#</th>
      <th>Time to Commit</th>
      <th></th><!-- Edit -->
      <th class="icon-header"></th><!-- Delete -->
      <th></th><!-- Publish/Unpublish/Commit -->
      <th></th><!-- Data -->
      <th></th><!-- Preview/Show -->
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <%
        @article_cur = article
        @tags        = article.tags
      %>
      <tr id="<%= dom_id(article) %>">
        <td class="article-id"><%= article.id %></td>
        <td class="article-title"><%= article.title %></td>
        <td class="article-tags-list"><%= render "tags/single_line_tags", :locals => { :tags => @tags } %></td>
        <td class="article-author"><%= article.author %></td>
        <td class="article-stage"><%= article.stage %></td>
        <td class="article-tic"><%= time_to_commit(article) %></td>
        <td class="article-edit"><%= link_to "E", edit_admin_article_path(article), :title => "Edit/Show #{article.title}" %></td>
        <td class="article-delete"><%= link_to image_tag(asset_path("misc/circular_delete.png"), :alt => "Delete Article"), admin_article_path(article), :method => :delete, :remote => true, :class => "article_delete", :title => "Delete #{article.title}", :confirm => "Are you sure?" %></td>
        <td class="article-op"><%= render "admin/articles/commit_publish", :locals => { :article_cur => @article_cur } %></td>
        <td class="article-data"><%= link_to "Data", admin_article_path(article, :format => :txt), :title => "Data", :target => "_blank" %></td>
        <td class="article-show"><%= link_to "Show", preview(article), :title => "Show/Preview", :target => "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
