<div class="articles-multi-container">
  <% @articles.each do |article| %>
    <% @tags = article.tags %>
    <div class="article-title"><h2><%= article_link(article) %></h2></div>
    <div class="article-meta">by <span class="article-author"><%= article.author %></span> on <span class="article-date"><%= article.published_at %></span>
    <% if article.tags.any? %>
      <%= render "tags/single_line_tags", :locals => { :tags => @tags } %>
    <% end %></div>
    <div class="article-content"><%= snip_content(article.content_html).html_safe %></div>
    <br />
  <% end %>
</div>
<br />
<div class="page-nav-links">
  <%= render "articles/previous_next_pages", :locals => { :page => @page, :available_pages => @available_pages, :query => @query } %>
  <br /><%= render "articles/top" %>
</div>
