<div class="centered-content">
  <%= add_header("Administration Console") %>
  <br />
  <%= link_to "New Article", new_admin_article_path, :title => "New Article" %>
  <%= link_to "New Reading Item", new_admin_reading_item_path, :title => "New Reading Item" %>
  <%= link_to "Logout", logout_path, :title => "Logout" %>
  <br />
  <br />
</div>
<div id="full-content">
  <%= render "admin/reading_items/view", :locals => { :reading_items => @reading_items } %>
  <br /><br />
  <%= render "admin/articles/view_meta", :locals => { :articles => @articles } %>
</div>
<br />
<div class="centered-content">
  <%= render "articles/top" %>
</div>
